<% provide :title, 'ユーザー' %>

<div class="table-responsive">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th>入部年度</th>
        <th>名前</th>
        <th>LiveLog</th>
        <th>参加日時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @users.each do |user| %>
          <td><%= user.joined_year %></td>
          <td><%= user.name %></td>
          <td><%= link_to livelog_member_url(user), livelog_member_url(user) %></td>
          <td><%= l user.created_at %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
